
$totem-yellow: #FFD011;
$totem-error: #FF5252;
$totem-white: white;
$totem-pink: #FF66F9;
$totem-violet: #5823C9;
$totem-black: #1D1F27;
$totem-dark-grey: #23252F;
$totem-grey: #2A2C38;
$totem-divider-grey: #323741;
$totem-light-grey: #8A93A0;
