
$yellow: #FFD011;
$white: white;
$black: #142630;

$semi-transparent: #0009;

$light-grey: #66A1AA;
$dark-grey: #353840;
$dark: #202225;

$grey: #2A2D33;

$linear-glass: linear-gradient(359.71deg, rgba(255, 255, 255, 0.15) 0.38%, rgba(255, 255, 255, 0) 46.66%);
$linear-light: linear-gradient(312.93deg, #969595 0.64%, rgba(85, 85, 85, 0) 95.46%);
$linear-light-nav: linear-gradient(156deg, #969595 0.64%, rgba(85, 85, 85, 0) 95.46%);
$transparent-light: rgba(53, 56, 64, 0.37);

$item-gradient: linear-gradient(90deg, #FA709A 0%, #FEE140 100%);
