<div class="purchase flex flex-col items-center justify-start w-full">
  <div #circlesRef class="circle-wrapper blur-70 z-1">
      <bg-circle class="bottom-[20%] left-[20%] z-1" [background]="'#3A23C9'" [width]="'220px'"></bg-circle>
      <bg-circle class="bottom-[20%] left-[28%] z-3" [background]="'#8023C9'" [width]="'290px'"></bg-circle>
      <bg-circle class="bottom-[10%] left-[28%] z-1" [background]="'#FFD011'" [width]="'177px'"></bg-circle>
      <bg-circle class="bottom-[9%] left-[24%] z-2" [background]="'#FF8540'" [width]="'284px'"></bg-circle>
  </div>
  <div class="content w-full flex flex-col items-center justify-start max-h-[358px] h-full rounded z-2 pb-16">
      <h3 class="font-semibold text-[36px] leading-[52px] max-w-[520px] w-full text-white text-center mt-[62px]">Generating asset!</h3>
      <p class="text-light-grey text-[18px] leading-[22px] text-center max-w-[536px] w-full mt-6">Please wait while we are processing your payment and generating your new unique {{assetName}}. This may take several seconds.</p>
      <div class="w-full flex flex-col items-center justify-center mt-7">
        <p [@swapText] *ngIf="txFinished == 'error'" class="t-col-error text-[20px] leading-[22px] text-center max-w-[496px] w-full h-[0px]">Error occured while generating your asset</p>
        <div *ngIf="!txFinished" class="px-6 w-full h-[10]">
          <mat-progress-bar [value]="value" class="payment-progress-bar w-full h-[22px]" mode="determinate"></mat-progress-bar>
        </div>
      </div>

  </div>
  <div [@buttonBlockAppear] *ngIf="secondsToClose === 0 || txFinished == 'error'" class="mt-6 z-2 text-white w-full flex flex-row items-center justify-center">
    <button class="totem-secondary-button !px-6 h-12 text-white text-[20px] leading-[22px] font-medium min-w-[134px]"
      [mat-dialog-close]="false">
      Close
    </button>
    <button matRipple class="totem-primary-button !px-6 h-12 text-white text-[20px] leading-[22px] font-medium !ml-8"
      [mat-dialog-close]="true">
      Go to My Assets
    </button>
  </div>
</div>
