@import "../../styles/totem-variables";
@import '../../styles/variables';

.wrapper {
  max-width: 600px;
  padding: 30px;
  background-color: white;
  border-radius: 0 !important;
  position: relative;

  .yellow-container {
    position: absolute;
    height: 40%;
    top: 0;
    left: 0;
    right: 0;
    background-color: $yellow;
  }
}
.mtop-20px {
  margin-top: 20px;
  @media (max-height: 400px) {
    margin-top: 8px;
  }
}
.mtop-8px {
  margin-top: 8px;
  @media (max-height: 400px) {
    margin-top: 4px;
  }
}
.mtop-10px {
  margin-top: 10px;
  @media (max-height: 400px) {
    margin-top: 6px;
  }
}

mat-progress-bar {
  color: $totem-pink;
}

.content {
  padding: 60px 40px;
  // background: rgba(35, 37, 47, 0.8);
  // backdrop-filter: blur(10px);
  @media screen and (max-width: 600px) {
    padding: 25px 18px;
  }
}
.asset-progress {
  display: flex;
  align-items: center;

  p {
    text-transform: capitalize;
    margin-top: auto !important;
    margin-bottom: auto !important;
    width: 50px;
  }
  mat-progress-bar {
    width: 30px;
  }
  mat-icon {
    color: green;
    width: 20p !important;
    height: 20px !important;
    font-size: 20px !important;
    width: 30px !important;
  }
}

.purchase {
  background-color: #ECF4FF;;
  border: 1px solid $light-grey;
  position: relative;
  z-index:1;
}

.title {
  font-size: 36px;
  color: $black !important;
  @media screen and (max-width: 600px) {
    font-size: 18px;
    line-height: inherit;
  }
}

.sub-title {
  font-size: 16px;
  color: $light-grey !important;
  
}

.slider-container {
  margin-top: 40px;

  @media screen and (max-width: 600px) {
    margin-top: 18px;
  }
}
.slider-wrapper {
  .black-square {
    background-color: $black;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) translateX(50%);
  }
}
.square {
  z-index: 5;
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: $yellow;
  left: 0;
  top: 50%;
  transition: left .3s;
  // width:100%;
  transform: translateY(-50%) translateX(-50%);
}

.circle-wrapper {
  bg-circle {
    // backdrop-filter: blur(60px);
    -moz-filter: blur(60px);
    -o-filter: blur(60px);
    -webkit-filter: blur(60px);
  }
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.totem-primary-button {
  width: auto;
  transition: width 0.33s ease-out;
  white-space: nowrap;
}


.content {
  // background: rgba(35, 37, 47, 0.8) !important;
  border-radius: 0 !important;
  // -moz-filter: blur(10px);
  // -o-filter: blur(10px);
  // -webkit-filter: blur(10px);
}
