<button
  #button
  (mouseenter)="onMouseEnter()"
  (mousemove)="onMouseOver($event)"
  (mouseleave)="onMouseLeave()"
  [disabled]="buttonDisabled"
  class="join-button"
  [ngStyle]="{'width': width, 'height': height}"
  (click)="clickEvent($event)"
  matRipple
  [matRippleColor]="'#ffe167'"
  [matRippleDisabled]="!disableRipple"
>
  <span class="glow-opacity" [ngClass]="{'glow': hovered}" [ngStyle]="{'transform': 'translateX(' + x + 'px)'}"></span>
  <span class="caption">{{caption}}</span>
</button>
